# Exclude Everything!!!

/*

# Except the stuff i want to keep

# Gradle Stuff
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties
!settings.gradle

# Git Stuff
!.gitignore

# Other Important Files
!LICENSE
!README.md
!Change Log.txt
!VERSION.txt
!curse_upload.json

# Other Important Folders
!src/
