## gradle
/.gradle
/build
/libs

## ForgeGradle
/run
/runClean

## eclipse
/eclipse
/.settings
/.metadata
/.classpath
/.project
/bin

## intellij
/out
/.idea
/*.iml
/*.ipr
/*.iws
/atlassian-ide-plugin.xml
/classes
